.not-logged-in.page-checkout .page__title{
  display:none;
}
#checkout-login h2,
#checkout-account h2{
  margin:0;
  font-size:1.5em;
  color:#0e4574;
}
.not-logged-in.page-checkout #commerce-checkout-form-login {
  float:left;
  width:35%;
}

.block-commerce-extra-plus {
  float:left;
  border-left:1px solid #bbb;
  padding-left:1em;
  margin-bottom:2em;
  width: 60%;
}

.form-item-mail .description,
.page-user-login .actions-suffix,
#checkout-login .button-operator,
#checkout-login .checkout-cancel{
  display:none;
}

.forgotpw{
  margin-top:3em;
}

.page-checkout .form-item{
  margin:0 0 .5em 0;
}

.page-checkout-complete #block-system-main{
  margin:0;
}

.friendly-register-name .error{
  marginb-bottom:2em;
} 